:root {
  --text-color: white;
  --shadow-color: cyan;
}

html, body {margin: 0; height: 100%; overflow: hidden}
body {
  background-color: rgb(3, 18, 22);
}

.buttons {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.buttons a {
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color: rgb(3, 18, 22);
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

}

span {
  font-size: 2em;
  text-shadow: 0 0 0.25em var(--shadow-color), 0 0 0.45em yellow;
}

.buttons a:hover {
  box-shadow: 0px 0px 0px 2px white;
  background-color: white;
  color: black;
  box-shadow: inset 0 0 0.5em 0 var(--shadow-color),
  0 0 0.5em 0 var(--shadow-color);
  outline: 1px solid black;
}

.arrow {
  position: relative;
}

.arrow::before {
    font-size: 2em;
    position: absolute;
    left:-2em;
    display: inline-block;
    grid-row: 1;
    grid-column: 1;
    padding-right: 8px;
    color: transparent;
    content: "🢂";
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.arrow::after {
    font-size: 2em;
    position: absolute;
    right: -2em;
    display: inline-block;
    grid-row: 1;
    grid-column: 3;
    padding-left: 8px;
    content: "🢀";
    color: transparent;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.arrow:hover::before,
.arrow:focus::before {
    color:var(--text-color);
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
}

.arrow:hover::after,
.arrow:focus::after {
    color:var(--text-color);
    -webkit-transform: translateX(-4px);
    -moz-transform: translateX(-4px);
    -ms-transform: translateX(-4px);
    -o-transform: translateX(-4px);
    transform: translateX(-4px);
}
